{{- define "GRPCRoute" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- /* GVK: gateway.networking.k8s.io/v1, Kind=GRPCRoute */ -}}
    {{- template "status_summary_line" . }}
    {{- template "kstatus_summary" . }}
    {{- template "finalizer_details_on_termination" . }}
    {{- template "observed_generation_summary" . }}
    {{- template "application_details" . }}
    {{- with .Spec.hostnames }}
        {{- "Hostnames" | bold | nindent 2 }}: {{ join ", " . | cyan }}
    {{- end }}
    {{- $routeHostnames := .Spec.hostnames | default (list) }}
    {{- with .Spec.parentRefs }}
        {{- "Parents" | bold | nindent 2 }}:
        {{- range . }}
            {{- if $.Config.GetBool "deep" }}
                {{- $ns := coalesce .namespace $.Namespace }}
                {{- $obj := $.KubeGetFirst $ns (qualifyKind (.kind | default "Gateway") (.group | default "gateway.networking.k8s.io")) .name }}
                {{- if $obj.Object }}{{ $.IncludeRenderableObject $obj | nindent 4 }}{{ end }}
            {{- else }}
                {{- $.Include "resource_ref" (dict "kind" (.kind | default "Gateway") "name" .name "namespace" .namespace "callerNamespace" $.Namespace) | nindent 4 }}
                {{- with .sectionName }} [{{ . | cyan }}]{{ end }}
                {{- template "gwapi_listener_tls_cert_check" (dict "ctx" $ "parentRef" . "routeHostnames" $routeHostnames "protocol" "HTTPS") }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- with .Spec.rules }}
        {{- "Rules" | bold | nindent 2 }}:
        {{- range . }}
            {{- with .matches }}
                {{- range . }}
                    {{- with .method }}
                        {{- printf "%s/%s" (.service | default "*") (.method | default "*") | cyan | nindent 4 }}
                        {{- with .type }}{{ printf " (%s)" . }}{{ end }}
                    {{- end }}
                    {{- with .headers }}
                        {{- range . }}{{ printf "header:%s=%s" .name .value | nindent 6 }}{{ end }}
                    {{- end }}
                {{- end }}
            {{- end }}
            {{- with .backendRefs }}
                {{- range . }}
                    {{- template "gwapi_backend_ref" (dict "ctx" $ "ref" .) }}
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- template "gwapi_status_parents" (dict "ctx" $ "parents" .Status.parents) }}
    {{- template "recent_updates" . }}
    {{- template "events" . }}
    {{- template "owners" . }}
{{- end -}}
