{{- define "CronJob" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- /* GVK: batch/v1, Kind=CronJob */ -}}
    {{- template "status_summary_line" . }}
    {{- with .Spec.schedule }}, schedule: {{ . | cyan }}{{ with $.Spec.timeZone }} [{{ . | cyan }}]{{ end }}{{ end }}
    {{- if .Spec.suspend }}, {{ "Suspended" | yellow | bold }}
    {{- else if .Status.lastScheduleTime }}, last ran at {{ .Status.lastScheduleTime }}{{ relativeTime .Status.lastScheduleTime }}
    {{- else }}
        {{- "Not yet scheduled" | yellow | bold | nindent 2 }}
    {{- end }}
    {{- if and .Status.lastSuccessfulTime .Status.lastScheduleTime }}
        {{- if lt .Status.lastSuccessfulTime .Status.lastScheduleTime }}
            {{- "Last succeeded" | nindent 2 }}: {{ .Status.lastSuccessfulTime | colorAgo }}{{ agoSuffix }}
        {{- end }}
    {{- end }}
    {{- with .Spec.concurrencyPolicy }}
        {{- if ne . "Allow" }}
            {{- printf "Concurrency: %s" . | yellow | nindent 2 }}
        {{- end }}
    {{- end }}
    {{- with .Status.active }}
        {{- range . }}
            {{- "Active" | green | nindent 2 }}: {{ .kind | bold }}/{{ .name }} is running.
        {{- end }}
    {{- end }}
    {{- template "kstatus_summary" . }}
    {{- template "finalizer_details_on_termination" . }}
    {{- template "application_details" . }}
    {{- template "recent_updates" . }}
    {{- template "events" . }}
    {{- template "owners" . }}
{{- end -}}
