{{- define "Ingress" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- template "status_summary_line" . }}
    {{- template "kstatus_summary" . }}
    {{- template "finalizer_details_on_termination" . }}
    {{- template "load_balancer_ingress" . }}
    {{- template "application_details" . }}
    {{- $missingSvcs := list }}
    {{- $shownSvcs := list }}
    {{- range .Spec.rules }}
        {{- range .http.paths }}
            {{- $ingSvcName := coalesce .backend.service.name .backend.serviceName }}
            {{- $ingSvcPortNumber := coalesce .backend.service.port.number .backend.servicePort }}
            {{- $ingSvcPortName := coalesce .backend.service.port.name .backend.serviceName }}
            {{- $ingSvcPort := coalesce $ingSvcPortNumber $ingSvcPortName }}
            {{- if not (and $ingSvcName $ingSvcPort) }}
                {{- "Ingress has no service reference" | yellow | bold | nindent 2 }}: Ingress doesn't have either a name ({{ $ingSvcName }}) or a port ({{ $ingSvcPort }}).
            {{- else }}
                {{- $svc := $.KubeGetFirst $.Namespace "Service" $ingSvcName }}
                {{- if not $svc }}
                    {{- if not ($missingSvcs | has $ingSvcName) }}
                        {{- "Service" | bold | nindent 2 }}/{{ $ingSvcName }} {{ "doesn't exist" | red | bold }}, but it's referenced in Ingress.
                        {{- $missingSvcs = append $missingSvcs $ingSvcName }}
                    {{- end }}
                {{- else }}
                    {{- $portDefinedInSvc := false }}
                    {{- range $svc.Spec.ports }}
                        {{- if or (eq $ingSvcPortName .name) (eq ($ingSvcPortNumber | int) (.port | int)) }}
                            {{- $portDefinedInSvc = true }}
                        {{- end }}
                    {{- end }}
                    {{- if not $portDefinedInSvc }}
                        {{- "Service port doesnt exist" | red | bold | nindent 2 }}: {{ "Service" | bold }}/{{ $ingSvcName }}:{{ $ingSvcPort }} referenced in ingress, but Service doesn't have that port defined.
                    {{- else if not ($shownSvcs | has $ingSvcName) }}
                        {{- $.Include "service_health_summary" $svc | nindent 2 }}
                        {{- $shownSvcs = append $shownSvcs $ingSvcName }}
                    {{- end }}
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- $missingSecrets := list }}
    {{- $shownSecrets := list }}
    {{- range .Spec.tls }}
        {{- $secretName := .secretName }}
        {{- $hosts := .hosts | default list }}
        {{- if not $secretName }}
            {{- "TLS entry has no secretName" | yellow | bold | nindent 2 }}, ingress controller's default certificate will be used for host(s) [{{ $hosts | join ", " }}].
        {{- else if not ($.Config.GetBool "shallow") }}
            {{- $secret := $.KubeGetFirst $.Namespace "Secret" $secretName }}
            {{- if not $secret.Object }}
                {{- if not ($missingSecrets | has $secretName) }}
                    {{- "Secret" | bold | nindent 2 }}/{{ $secretName }} {{ "doesn't exist" | red | bold }}, but it's referenced in Ingress TLS for host(s) [{{ $hosts | join ", " }}].
                    {{- $missingSecrets = append $missingSecrets $secretName }}
                {{- end }}
            {{- else }}
                {{- $certBase := parseTLSSecretCertificate $secret "" }}
                {{- if $certBase.WrongType }}
                    {{- "Secret" | bold | nindent 2 }}/{{ $secretName }} {{ printf "wrong type: %s" $certBase.ActualType | red | bold }}, but it's referenced in Ingress TLS for host(s) [{{ $hosts | join ", " }}].
                {{- else if $certBase.MissingKeys }}
                    {{- "Secret" | bold | nindent 2 }}/{{ $secretName }} {{ printf "missing keys: %s" (join ", " $certBase.MissingKeys) | red | bold }}, referenced in Ingress TLS for host(s) [{{ $hosts | join ", " }}].
                {{- else if $certBase.ParseError }}
                    {{- "Secret" | bold | nindent 2 }}/{{ $secretName }} {{ printf "certificate parse error: %s" $certBase.ParseError | red | bold }}, referenced in Ingress TLS for host(s) [{{ $hosts | join ", " }}].
                {{- else }}
                    {{- if $certBase.SelfSigned }}
                        {{- "Secret" | bold | nindent 2 }}/{{ $secretName }} {{ "certificate is self-signed" | yellow | bold }}, used for host(s) [{{ $hosts | join ", " }}].
                    {{- end }}
                    {{- range $hosts }}
                        {{- $host := . }}
                        {{- $cert := parseTLSSecretCertificate $secret $host }}
                        {{- if not $cert.MatchesHostname }}
                            {{- "Secret" | bold | nindent 2 }}/{{ $secretName }} {{ "certificate doesn't match host" | red | bold }} {{ $host | cyan }}.
                        {{- end }}
                    {{- end }}
                {{- end }}
                {{- if $.Config.GetBool "deep" }}
                    {{- if not ($shownSecrets | has $secretName) }}
                        {{- $.IncludeRenderableObject $secret | nindent 4 }}
                        {{- $shownSecrets = append $shownSecrets $secretName }}
                    {{- end }}
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- template "recent_updates" . }}
    {{- template "events" . }}
    {{- template "owners" . }}
{{- end -}}

{{- define "load_balancer_ingress" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- with .Status.loadBalancer.ingress }}
        {{- if or (index . 0).hostname (index . 0).ip }}
            {{- with (index . 0).hostname }} {{ "LoadBalancer" | green }}:{{ . }}{{ end }}
            {{- with (index . 0).ip }} {{ "LoadBalancer" | green }}:{{ . }}{{ end }}
        {{- else }} {{ "Pending LoadBalancer" | red | bold }}
        {{- end }}
    {{- end }}
{{- end -}}