{{- define "Pod" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- template "pod_status_summary_line" . }}
    {{- template "kstatus_summary" . }}
    {{- template "finalizer_details_on_termination" . }}
    {{- template "application_details" . }}
    {{- .Include "pod_conditions_summary" . | nindent 2 }}
    {{- template "pod_node_problems" . }}
    {{- $secCtx := .Spec.securityContext | default dict }}
    {{- $seccomp := index $secCtx "seccompProfile" | default dict }}
    {{- if eq (index $seccomp "type" | default "") "Unconfined" }}
        {{- "seccomp: Unconfined" | red | bold | nindent 2 }} (no syscall filtering)
    {{- end }}
    {{- $ns := $.KubeGetFirst "" "Namespace" $.Namespace }}
    {{- if $ns.Object }}
        {{- $enforce := index ($ns.Object.metadata.labels | default dict) "pod-security.kubernetes.io/enforce" }}
        {{- if $enforce }}
            {{- "Namespace PSA:" | bold | nindent 2 }} {{ $enforce | colorKeyword }}
        {{- end }}
    {{- end }}
    {{- if not .Metadata.ownerReferences }}
        {{- $container := .Spec.containers | default list | first | default dict }}
        {{- "Standalone POD" | red | bold | nindent 2 }}{{ if $container.stdin }}, interactive{{ end }}{{ if $container.tty }} with attached TTY{{ end }}.
    {{- end }}
    {{- $missingPullSecrets := list }}
    {{- $podPullSecretsBroken := false }}
    {{- range .Spec.imagePullSecrets }}
        {{- $secretName := .name }}
        {{- if $secretName }}
            {{- if not ($.Config.GetBool "shallow") }}
                {{- $secret := $.KubeGetFirst $.Namespace "Secret" $secretName }}
                {{- if not $secret.Object }}
                    {{- $podPullSecretsBroken = true }}
                    {{- if not ($missingPullSecrets | has $secretName) }}
                        {{- "Secret" | bold | nindent 2 }}/{{ $secretName }} {{ "doesn't exist" | red | bold }}, but it's referenced in Pod's imagePullSecrets.
                        {{- $missingPullSecrets = append $missingPullSecrets $secretName }}
                    {{- end }}
                {{- else if not (has $secret.Object.type (list "kubernetes.io/dockerconfigjson" "kubernetes.io/dockercfg")) }}
                    {{- $podPullSecretsBroken = true }}
                    {{- "Secret" | bold | nindent 2 }}/{{ $secretName }} {{ printf "wrong type: %s" $secret.Object.type | red | bold }}, but it's referenced in Pod's imagePullSecrets.
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- template "pod_init_containers" (dict "pod" . "podPullSecretsBroken" $podPullSecretsBroken) }}
    {{- template "pod_containers" (dict "pod" . "podPullSecretsBroken" $podPullSecretsBroken) }}
    {{- template "pod_ephemeral_containers" (dict "pod" . "podPullSecretsBroken" $podPullSecretsBroken) }}
    {{- template "pod_volumes" . }}
    {{- template "matching_services" . }}
    {{- template "recent_updates" . }}
    {{- template "events" . }}
    {{- template "owners" . }}
{{- end }}

{{- define "pod_status_summary_line" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- template "status_summary_line" . }}
    {{- with .Status.qosClass }} {{ if ($.Object | default dict).inline }}{{ . }}{{ else }}{{ . | colorKeyword }}{{ end }}{{ end }}
    {{- with .Status.message }}, message: {{ . }}{{ end }}
{{- end -}}

{{- define "pod_node_problems" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- /* Expects the Pod RenderableObject. Fetches the Node this Pod is (or would be) scheduled
           to and surfaces only what explains trouble with this Pod: unhealthy conditions,
           cordoned/unschedulable state, and taints this Pod doesn't tolerate. Full Node capacity,
           labels, etc. are intentionally omitted here -- see Node.tmpl for the complete render. */ -}}
    {{- $nodeName := get .Spec "nodeName" }}
    {{- if $nodeName }}
        {{- $node := .KubeGetFirst "" "Node" $nodeName }}
        {{- if $node.Object }}
            {{- if .Config.GetBool "deep" }}
                {{- "Node:" | bold | nindent 2 }}
                {{- .IncludeRenderableObject $node | nindent 4 }}
            {{- else }}
                {{- $unhealthy := list }}
                {{- range $node.StatusConditions }}
                    {{- if not (isStatusConditionHealthy .) }}
                        {{- $unhealthy = append $unhealthy . }}
                    {{- end }}
                {{- end }}
                {{- $blockingTaints := taintsNotToleratedByPod ($node.Spec.taints | default list) (.Spec.tolerations | default list) }}
                {{- $cordoned := $node.Spec.unschedulable }}
                {{- if or $unhealthy $blockingTaints $cordoned }}
                    {{- "Node/" | bold | nindent 2 }}{{ $nodeName | cyan }}
                    {{- if $cordoned }} {{ "cordoned (unschedulable)" | red | bold }}{{ end }}
                    {{- range $unhealthy }}
                        {{- $.Include "condition_summary" . | nindent 4 }}
                    {{- end }}
                    {{- range $blockingTaints }}
                        {{- $val := "" }}{{ with .value }}{{ $val = printf "=%s" . }}{{ end }}
                        {{- printf "taint %s%s:%s (not tolerated)" .key $val .effect | red | bold | nindent 4 }}
                    {{- end }}
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}

{{- define "pod_init_containers" }}
    {{- /* Expects a dict "pod" (Pod RenderableObject) "podPullSecretsBroken" (bool) */ -}}
    {{- $pod := .pod }}
    {{- $nodeStatsSummary := $pod.KubeGetNodeStatsSummary (get $pod.Spec "nodeName") }}
    {{- $podStatsSummary := dict }}
    {{- if $nodeStatsSummary }}
        {{- $podStatsSummary = $nodeStatsSummary.pods | default list | getMatchingItemInMapList (dict "podRef.uid" $pod.Metadata.uid) }}
    {{- end }}
    {{- with $pod.Status.initContainerStatuses }}
        {{- "InitContainers:" | nindent 2 }}
        {{- range $containerStatus := . }}
            {{- $containerSpec := $pod.Spec.initContainers | getMatchingItemInMapList (dict "name" $containerStatus.name) }}
            {{- $containerKubeletStats := $podStatsSummary.containers | default list | getMatchingItemInMapList (dict "name" $containerStatus.name) }}
            {{- $pod.Include "container_status_summary" (dict "pod" $pod "containerStatus" $containerStatus "containerSpec" $containerSpec "containerStats" $containerKubeletStats "includeAllVolumes" ($pod.Config.GetBool "include-all-volumes") "sidecar" (eq ($containerSpec.restartPolicy | default "") "Always") "podImagePullSecrets" $pod.Spec.imagePullSecrets "podPullSecretsBroken" $.podPullSecretsBroken) | nindent 4 }}
        {{- end }}
    {{- end }}
{{- end }}

{{- define "pod_containers" }}
    {{- /* Expects a dict "pod" (Pod RenderableObject) "podPullSecretsBroken" (bool) */ -}}
    {{- $pod := .pod }}
    {{- $defaultLogsContainer := index $pod.Annotations "kubectl.kubernetes.io/default-logs-container" }}
    {{- $defaultContainer := index $pod.Annotations "kubectl.kubernetes.io/default-container" }}
    {{- $nodeStatsSummary := $pod.KubeGetNodeStatsSummary (get $pod.Spec "nodeName") }}
    {{- $podStatsSummary := dict }}
    {{- if $nodeStatsSummary }}
        {{- $podStatsSummary = $nodeStatsSummary.pods | default list | getMatchingItemInMapList (dict "podRef.uid" $pod.Metadata.uid) }}
    {{- end }}
    {{- with $pod.Status.containerStatuses }}
        {{- $single := eq (len .) 1 }}
        {{- "Containers:" | nindent 2 }}
        {{- $podMetrics := $pod.KubeGetPodMetrics $pod.Namespace $pod.Name }}
        {{- $containerStatusSummaryDict := dict }}
        {{- range $containerStatus := . }}
            {{- $containerSpec := $pod.Spec.containers | getMatchingItemInMapList (dict "name" $containerStatus.name) }}
            {{- $containerKubeletStats := $podStatsSummary.containers | default list | getMatchingItemInMapList (dict "name" $containerStatus.name) }}
            {{- if ($podMetrics.Object | default dict).containers }}
                {{- $containerMetrics := $podMetrics.Object.containers | getMatchingItemInMapList (dict "name" $containerStatus.name) }}
                {{- $containerStatusSummaryDict = dict "pod" $pod
                                                       "containerStatus" $containerStatus
                                                       "containerMetrics" $containerMetrics
                                                       "containerSpec" $containerSpec
                                                       "containerStats" $containerKubeletStats
                                                       "defaultContainer" (eq $containerStatus.name $defaultContainer)
                                                       "defaultLogsContainer" (eq $containerStatus.name $defaultLogsContainer)
                                                       "includeAllVolumes" ($pod.Config.GetBool "include-all-volumes")
                                                       "podImagePullSecrets" $pod.Spec.imagePullSecrets
                                                       "podPullSecretsBroken" $.podPullSecretsBroken
                }}
            {{- else }}
                {{- $containerStatusSummaryDict = dict "pod" $pod
                                                       "containerStatus" $containerStatus
                                                       "containerSpec" $containerSpec
                                                       "containerStats" $containerKubeletStats
                                                       "defaultContainer" (eq $containerStatus.name $defaultContainer)
                                                       "defaultLogsContainer" (eq $containerStatus.name $defaultLogsContainer)
                                                       "includeAllVolumes" ($pod.Config.GetBool "include-all-volumes")
                                                       "podImagePullSecrets" $pod.Spec.imagePullSecrets
                                                       "podPullSecretsBroken" $.podPullSecretsBroken
                }}
            {{- end }}
            {{- if $single }}
                {{- " " }}{{- $pod.Include "container_status_summary" $containerStatusSummaryDict }}
            {{- else }}
                {{- $pod.Include "container_status_summary" $containerStatusSummaryDict | nindent 4 }}
            {{- end }}
        {{- end }}
        {{- if and (not ($pod.Config.GetBool "shallow")) (eq $pod.Status.phase "Running") (not ($podMetrics.Object | default dict).containers) }}
            {{- $metricsUnavailableReason := $pod.KubeMetricsUnavailableReason }}
            {{- if $metricsUnavailableReason }}
                {{- $metricsUnavailableReason | yellow | nindent 4 }}: cpu/memory usage for containers can't be shown.
            {{- else }}
                {{- "no metrics yet" | yellow | nindent 4 }}: metrics-server hasn't reported cpu/memory usage for this Pod's containers yet.
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}

{{- define "pod_volume_inline_stats" }}
    {{- /* pod_volume_inline_stats returns inline usage for a volume stats entry from kubelet */ -}}
    {{- if .capacityBytes }}
        {{- $pct := percent (.usedBytes | float64) (.capacityBytes | float64) -}}
        {{- " " -}}usage: {{ .usedBytes | float64 | humanizeSI "B" }}/{{ .capacityBytes | float64 | humanizeSI "B" }} ({{- $pct | colorPercent "%.0f%%" -}})
        {{- if .inodes }}
            {{- $inodePct := percent (.inodesUsed | float64) (.inodes | float64) }}
            {{- if gt $inodePct 75.0 }}, inodes: {{ .inodesUsed | float64 | humanizeSI "" }}/{{ .inodes | float64 | humanizeSI "" }} ({{- $inodePct | colorPercent "%.0f%%" -}}){{ end }}
        {{- end }}
    {{- end }}
{{- end }}

{{- define "pod_volume_line" }}
    {{- /* Renders a single volume spec entry. Expects dict "vol" (spec entry) "stats" (kubelet VolumeStats or nil) "pvcStorage" (optional PVC requested storage) */ -}}
    {{- .vol.name | bold }}
    {{- $inner := "" }}
    {{- $isPVC := false }}
    {{- if hasKey .vol "emptyDir" }}
        {{- $inner = "EmptyDir" }}
        {{- with .vol.emptyDir.medium }}{{- $inner = printf "%s, medium: %s" $inner . }}{{- end }}
        {{- with .vol.emptyDir.sizeLimit }}{{- $inner = printf "%s, limit: %s" $inner . }}{{- end }}
    {{- else if hasKey .vol "hostPath" }}
        {{- $inner = printf "HostPath: %s" .vol.hostPath.path }}
        {{- with .vol.hostPath.type }}{{- $inner = printf "%s, type: %s" $inner . }}{{- end }}
    {{- else if hasKey .vol "configMap" }}{{- $inner = printf "ConfigMap: %s" .vol.configMap.name }}
    {{- else if hasKey .vol "secret" }}{{- $inner = printf "Secret: %s" .vol.secret.secretName }}
    {{- else if hasKey .vol "persistentVolumeClaim" }}
        {{- $isPVC = true }}
        {{- $inner = printf "PVC: %s" .vol.persistentVolumeClaim.claimName }}
        {{- if .vol.persistentVolumeClaim.readOnly }}{{- $inner = printf "%s, readOnly" $inner }}{{- end }}
        {{- with .pvcStorage }}{{- $inner = printf "%s, asked %s" $inner . }}{{- end }}
    {{- else if hasKey .vol "downwardAPI" }}{{- $inner = "DownwardAPI" }}
    {{- else if hasKey .vol "projected" }}{{- $inner = "Projected" }}
    {{- else if hasKey .vol "csi" }}{{- $inner = printf "CSI: %s" .vol.csi.driver }}
    {{- else if hasKey .vol "nfs" }}{{- $inner = printf "NFS: %s:%s" .vol.nfs.server .vol.nfs.path }}
    {{- end }}
    {{- with .stats }}
        {{- if and .usedBytes .capacityBytes }}
            {{- $pct := percent (.usedBytes | float64) (.capacityBytes | float64) }}
            {{- $statsStr := printf "%s/%s[%s]" (.usedBytes | float64 | humanizeSI "B") (.capacityBytes | float64 | humanizeSI "B") ($pct | colorPercent "%.0f%%") }}
            {{- if .inodes }}
                {{- $inodePct := percent (.inodesUsed | float64) (.inodes | float64) }}
                {{- if gt $inodePct 75.0 }}{{- $statsStr = printf "%s, inodes: %s/%s[%s]" $statsStr (.inodesUsed | float64 | humanizeSI "") (.inodes | float64 | humanizeSI "") ($inodePct | colorPercent "%.0f%%") }}{{- end }}
            {{- end }}
            {{- if $inner }}
                {{- if $isPVC }}{{- $inner = printf "%s using %s" $inner $statsStr }}
                {{- else }}{{- $inner = printf "%s, %s" $inner $statsStr }}{{- end }}
            {{- else }}{{- $inner = $statsStr }}{{- end }}
        {{- end }}
    {{- end }}
    {{- if $inner }} ({{ $inner }}){{ end }}
{{- end }}

{{- define "pod_volumes" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- $nodeStatsSummary := $.KubeGetNodeStatsSummary (get $.Spec "nodeName") }}
    {{- $podStatsSummary := dict }}
    {{- if $nodeStatsSummary }}
        {{- $podStatsSummary = $nodeStatsSummary.pods | default list | getMatchingItemInMapList (dict "podRef.uid" $.Metadata.uid) }}
    {{- end }}
    {{- $ephemeralStorage := index $podStatsSummary "ephemeral-storage" }}
    {{- /* Build the list of volumes to show by default (size-relevant) and under the gate */ -}}
    {{- $displayVols := list }}
    {{- range $.Spec.volumes }}
        {{- $vol := . }}
        {{- if or (hasKey . "persistentVolumeClaim") (hasKey . "hostPath") (hasKey . "nfs") (hasKey . "csi") }}
            {{- $displayVols = append $displayVols . }}
        {{- else if hasKey . "emptyDir" }}
            {{- /* show emptyDir only if kubelet has stats for it */ -}}
            {{- with $podStatsSummary.volume | default list | getMatchingItemInMapList (dict "name" $vol.name) }}
                {{- $displayVols = append $displayVols $vol }}
            {{- end }}
        {{- else if $.Config.GetBool "include-all-volumes" }}
            {{- $displayVols = append $displayVols . }}
        {{- end }}
    {{- end }}
    {{- $deep := $.Config.GetBool "deep" }}
    {{- $showEphemeral := and $ephemeralStorage (index $ephemeralStorage "usedBytes") (index $ephemeralStorage "capacityBytes") }}
    {{- $totalCount := len $displayVols }}
    {{- if $showEphemeral }}{{ $totalCount = add1 $totalCount }}{{ end }}
    {{- if gt $totalCount 0 }}
        {{- if eq $totalCount 1 }}
            {{- /* single-line format */ -}}
            {{- "Volumes:" | nindent 2 }}
            {{- if $showEphemeral }}
                {{- $pct := percent (index $ephemeralStorage "usedBytes" | float64) (index $ephemeralStorage "capacityBytes" | float64) }}
                {{- printf " ephemeral-storage (%s/%s[%s])" (index $ephemeralStorage "usedBytes" | float64 | humanizeSI "B") (index $ephemeralStorage "capacityBytes" | float64 | humanizeSI "B") ($pct | colorPercent "%.0f%%") }}
            {{- else }}
                {{- $vol := index $displayVols 0 }}
                {{- $stats := $podStatsSummary.volume | default list | getMatchingItemInMapList (dict "name" $vol.name) }}
                {{- $pvc := dict }}
                {{- $pvcStorage := "" }}
                {{- if hasKey $vol "persistentVolumeClaim" }}
                    {{- $pvc = $.KubeGetFirst $.Namespace "PersistentVolumeClaim" $vol.persistentVolumeClaim.claimName }}
                    {{- if $pvc.Object }}
                        {{- $pvcSpec := $pvc.Spec | default dict }}
                        {{- $pvcResources := $pvcSpec.resources | default dict }}
                        {{- $pvcRequests := $pvcResources.requests | default dict }}
                        {{- $pvcStorage = index $pvcRequests "storage" | default "" }}
                    {{- end }}
                {{- end }}
                {{- " " }}{{ template "pod_volume_line" (dict "vol" $vol "stats" $stats "pvcStorage" $pvcStorage) }}
                {{- if and $deep $pvc.Metadata }}
                    {{- $.Include "PersistentVolumeClaim" $pvc | nindent 4 }}
                {{- end }}
            {{- end }}
        {{- else }}
            {{- "Volumes:" | nindent 2 }}
            {{- if $showEphemeral }}
                {{- $pct := percent (index $ephemeralStorage "usedBytes" | float64) (index $ephemeralStorage "capacityBytes" | float64) }}
                {{- printf "%s (%s/%s[%s])" ("ephemeral-storage" | bold) (index $ephemeralStorage "usedBytes" | float64 | humanizeSI "B") (index $ephemeralStorage "capacityBytes" | float64 | humanizeSI "B") ($pct | colorPercent "%.0f%%") | nindent 4 }}
            {{- end }}
            {{- range $displayVols }}
                {{- $vol := . }}
                {{- $stats := $podStatsSummary.volume | default list | getMatchingItemInMapList (dict "name" $vol.name) }}
                {{- $pvc := dict }}
                {{- $pvcStorage := "" }}
                {{- if hasKey $vol "persistentVolumeClaim" }}
                    {{- $pvc = $.KubeGetFirst $.Namespace "PersistentVolumeClaim" $vol.persistentVolumeClaim.claimName }}
                    {{- if $pvc.Object }}
                        {{- $pvcSpec := $pvc.Spec | default dict }}
                        {{- $pvcResources := $pvcSpec.resources | default dict }}
                        {{- $pvcRequests := $pvcResources.requests | default dict }}
                        {{- $pvcStorage = index $pvcRequests "storage" | default "" }}
                    {{- end }}
                {{- end }}
                {{- $.Include "pod_volume_line" (dict "vol" $vol "stats" $stats "pvcStorage" $pvcStorage) | nindent 4 }}
                {{- if and $deep $pvc.Metadata }}
                    {{- $.Include "PersistentVolumeClaim" $pvc | nindent 6 }}
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}

{{- define "matching_services" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- if not ($.Config.GetBool "shallow") }}
        {{- $svcs := $.KubeGetServicesMatchingPod $.Namespace $.Name }}
        {{- if $svcs }}
            {{- if $.Config.GetBool "deep" }}
                {{- "Services:" | bold | nindent 2 }}
                {{- range $svcs }}
                    {{- $.Include "Service" . | nindent 4 }}
                {{- end }}
            {{- else if eq (len $svcs) 1 }}
                {{- "Services:" | bold | nindent 2 }} {{ $.Include "service_health_summary" (index $svcs 0) }}
            {{- else }}
                {{- "Services:" | bold | nindent 2 }}
                {{- range $svcs }}
                    {{- $.Include "service_health_summary" . | nindent 4 }}
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}

{{- define "pod_conditions_summary" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- $podScheduledCondition := .StatusConditions | getMatchingItemInMapList (dict "type" "PodScheduled") }}
    {{- $readyCondition := .StatusConditions | getMatchingItemInMapList (dict "type" "Ready") }}
    {{- if (isStatusConditionHealthy $podScheduledCondition) }}
        {{- "PodScheduled" | bold }}
    {{- else }}
        {{- "Not PodScheduled" | red | bold }}
    {{- end }}
    {{- " -> "}}
    {{- $initializedCondition := .StatusConditions | getMatchingItemInMapList (dict "type" "Initialized") }}
    {{- if (isStatusConditionHealthy $initializedCondition) }}
        {{- "Initialized" | bold }}
    {{- else }}
        {{- "Not Initialized" | red | bold }}
    {{- end }}
    {{- " -> "}}
    {{- $containersReadyCondition := .StatusConditions | getMatchingItemInMapList (dict "type" "ContainersReady") }}
    {{- if (isStatusConditionHealthy $containersReadyCondition) }}
        {{- "ContainersReady" | bold }}
    {{- else }}
        {{- "Not ContainersReady" | red | bold }}
    {{- end }}
    {{- " -> "}}
    {{- if (isStatusConditionHealthy $readyCondition) }}
        {{- template "condition_summary" $readyCondition }}
    {{- else }}
        {{- "Not Ready" | red | bold }}
    {{- end }}
    {{- range .Status.conditions }}
        {{- /* show details for only unhealthy conditions */ -}}
        {{- if (not (isStatusConditionHealthy .)) }}
            {{- $.Include "condition_summary" . | nindent 2}}
        {{- end }}
    {{- end }}
    {{- with .Spec.schedulingGates }}
        {{- if eq (len .) 1 }}
            {{- "Scheduling gate:" | yellow | nindent 2 }} {{ (index . 0).name | cyan }}
        {{- else }}
            {{- printf "Scheduling gates (%d):" (len .) | yellow | nindent 2 }}
            {{- range . }}{{ .name | cyan | nindent 4 }}{{ end }}
        {{- end }}
    {{- end }}
    {{- with .Spec.readinessGates }}
        {{- if eq (len .) 1 }}
            {{- $condType := (index . 0).conditionType }}
            {{- $cond := $.StatusConditions | getMatchingItemInMapList (dict "type" $condType) }}
            {{- if $cond }}
                {{- "Readiness gate:" | yellow | nindent 2 }} {{ $.Include "condition_summary" $cond }}
            {{- else }}
                {{- "Readiness gate:" | yellow | nindent 2 }} {{ $condType | cyan }}: condition not yet set
            {{- end }}
        {{- else }}
            {{- printf "Readiness gates (%d):" (len .) | yellow | nindent 2 }}
            {{- range . }}
                {{- $condType := .conditionType }}
                {{- $cond := $.StatusConditions | getMatchingItemInMapList (dict "type" $condType) }}
                {{- if $cond }}
                    {{- $.Include "condition_summary" $cond | nindent 4 }}
                {{- else }}
                    {{- $condType | cyan | nindent 4 }}: condition not yet set
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
{{- end -}}

{{- define "container_usage" -}}
    {{- /* Expects to get a map with these keys (and also their initContainer counterparts):
           * containerMetrics (required): PodMetrics.containers[name=container]
           * containerSpec (required): Pod.spec.containers[name=container]
        */ -}}
    cpu usage:{{ .containerMetrics.usage.cpu | quantityToFloat64 | printf "%.1g" -}}/[
    {{- if .containerSpec.resources.requests.cpu -}}
        {{- percent (.containerMetrics.usage.cpu | quantityToFloat64) (.containerSpec.resources.requests.cpu | quantityToFloat64) | colorPercent "%.0f%% " -}}
        of req:{{ .containerSpec.resources.requests.cpu | quantityToFloat64 | printf "%.1g" }}
    {{- else }}{{ "no-req" | yellow }}
    {{- end }}, {{ if .containerSpec.resources.limits.cpu -}}
        {{- percent (.containerMetrics.usage.cpu | quantityToFloat64) (.containerSpec.resources.limits.cpu | quantityToFloat64) | colorPercent "%.0f%% " -}}
        of lim:{{ .containerSpec.resources.limits.cpu | quantityToFloat64 | printf "%.1g" }}
    {{- else }}{{ "no-lim" | yellow }}
    {{- end -}}
    ], mem usage:{{- .containerMetrics.usage.memory | quantityToFloat64 | humanizeSI "B" -}}/[
    {{- if .containerSpec.resources.requests.memory -}}
        {{- percent (.containerMetrics.usage.memory | quantityToFloat64) (.containerSpec.resources.requests.memory | quantityToFloat64) | colorPercent "%.0f%% " -}}
        of req:{{ .containerSpec.resources.requests.memory | quantityToFloat64 | humanizeSI "B" }}
    {{- else }}{{ "no-req" | yellow }}
    {{- end }}, {{ if .containerSpec.resources.limits.memory -}}
        {{- percent (.containerMetrics.usage.memory | quantityToFloat64) (.containerSpec.resources.limits.memory | quantityToFloat64) | colorPercent "%.0f%% " -}}
        of lim:{{ .containerSpec.resources.limits.memory | quantityToFloat64 | humanizeSI "B" }}
    {{- else }}{{ "no-lim" | yellow }}
    {{- end -}}
    ]
{{- end -}}

{{- define "container_status_summary" }}
    {{- /* Expects to get a map with these keys (and also their initContainer counterparts):
           * pod (required): Pod RenderableObject, used to fetch logs
           * containerStatus (required): Pod.status.containerStatuses[name=container]
           * containerMetrics (optional): PodMetrics.containers[name=container]
           * containerSpec (optional): Pod.spec.containers[name=container]
           * defaultContainer (optional): Boolean
           * defaultLogsContainer (optional): Boolean
           * podImagePullSecrets (optional): Pod.spec.imagePullSecrets
           * podPullSecretsBroken (optional): Boolean, true if any podImagePullSecrets entry doesn't resolve to a usable Secret
        */ -}}
    {{- .containerStatus.name | bold }}{{ if .sidecar }}{{ " [sidecar]" | cyan }}{{ end }} ({{ .containerStatus.image | markYellow "latest" }}) {{ template "container_state_summary" .containerStatus.state }}
    {{- if .containerStatus.state.running }}{{ if .containerStatus.ready }} and {{ "Ready" | green }}{{ else }} but {{ "Not Ready" | red | bold }}{{ end }}{{ end }}
    {{- if gt (.containerStatus.restartCount | int ) 0 }}, {{ printf "restarted %d times" (.containerStatus.restartCount | int) | yellow | bold }}{{ end }}
    {{- if or .defaultContainer .defaultLogsContainer }} (default kubectl container){{ end }}
    {{- with .containerStats }}
        {{- with .logs }}
            {{- if .usedBytes }}
                {{- if .capacityBytes }}
                    {{- $pct := percent (.usedBytes | float64) (.capacityBytes | float64) }}
                    {{- printf " (logs: %s/%s[%s])" (.usedBytes | float64 | humanizeSI "B") (.capacityBytes | float64 | humanizeSI "B") ($pct | colorPercent "%.0f%%") }}
                {{- else }}
                    {{- printf " (logs: %s)" (.usedBytes | float64 | humanizeSI "B") }}
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- if .containerMetrics }}{{ if .containerMetrics.usage.cpu }}{{ "usage" | nindent 2 }} {{ template "container_usage" . }}{{ end }}{{ end }}
    {{- with .containerStatus.lastState }}
        {{- "previously:" | yellow | nindent 2 }} {{ template "container_state_summary" . }}
    {{- end }}
    {{- with .containerStatus.state.terminated }}
        {{- if and .startedAt (not ($.pod.Config.GetBool "shallow")) }}
            {{- $logs := $.pod.KubeGetContainerLogs $.pod.Namespace $.pod.Name $.containerStatus.name false 20 }}
            {{- if $logs }}
                {{- "Last 20 lines of logs:" | bold | nindent 2 }}
                {{- $logs | nindent 4 }}
            {{- else }}
                {{- ", " }}{{ "has no logs" | yellow }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- with .containerStatus.lastState.terminated }}
        {{- if and (withinLastHour .finishedAt) (not ($.pod.Config.GetBool "shallow")) }}
            {{- $logs := $.pod.KubeGetContainerLogs $.pod.Namespace $.pod.Name $.containerStatus.name true 20 }}
            {{- if $logs }}
                {{- "Last 20 lines of logs from previous instance (restarted within last hour):" | bold | nindent 2 }}
                {{- $logs | nindent 4 }}
            {{- else }}
                {{- ", " }}{{ "has no previous logs" | yellow }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- $runningNotReady := and .containerStatus.state.running (not .containerStatus.ready) }}
    {{- $hasRestarts := gt (.containerStatus.restartCount | int) 0 }}
    {{- if and $hasRestarts .containerSpec.livenessProbe }}
        {{- with .containerStatus.lastState.terminated }}
            {{- if and (eq (.exitCode | int) 137) (ne .reason "OOMKilled") }}
                {{- "(possible liveness probe SIGKILL)" | red | nindent 2 }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- if and $runningNotReady .containerSpec.readinessProbe }}
        {{- "readinessProbe:" | yellow | nindent 2 }} {{ template "probe_summary" .containerSpec.readinessProbe }}
    {{- end }}
    {{- if and $hasRestarts .containerSpec.livenessProbe }}
        {{- $p := .containerSpec.livenessProbe -}}
        {{- $budget := add ($p.initialDelaySeconds | default 0 | int) (mul ($p.failureThreshold | default 3 | int) ($p.periodSeconds | default 10 | int)) -}}
        {{- "livenessProbe:" | yellow | nindent 2 }} {{ template "probe_summary" $p }} {{ "kill budget:" | bold }} {{ printf "%ds" $budget | cyan }}
    {{- end }}
    {{- if and $hasRestarts .containerSpec.startupProbe }}
        {{- $p := .containerSpec.startupProbe -}}
        {{- $budget := add ($p.initialDelaySeconds | default 0 | int) (mul ($p.failureThreshold | default 3 | int) ($p.periodSeconds | default 10 | int)) -}}
        {{- "startupProbe:" | yellow | nindent 2 }} {{ template "probe_summary" $p }} {{ "kill budget:" | bold }} {{ printf "%ds" $budget | cyan }}
    {{- end }}
    {{- with .containerStatus.state.waiting }}
        {{- if eq .reason "PostStartHookError" }}
            {{- with $.containerSpec.lifecycle.postStart }}
                {{- "postStart:" | yellow | nindent 2 }} {{ template "lifecycle_hook_summary" . }}
            {{- end }}
        {{- end }}
        {{- if and (or (eq .reason "ImagePullBackOff") (eq .reason "ErrImagePull")) (ne (get ($.containerSpec | default dict) "imagePullPolicy") "Never") }}
            {{- if not $.podImagePullSecrets }}
                {{- "(no imagePullSecrets on this Pod — if this image is on a private registry not covered by node-level credentials, that's likely why)" | yellow | nindent 2 }}
            {{- else if $.podPullSecretsBroken }}
                {{- "(this Pod's imagePullSecrets have problems, see above — that's likely why)" | yellow | nindent 2 }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- with .containerStats }}
        {{- with .rootfs }}
            {{- if .usedBytes }}
                {{- if .capacityBytes }}
                    {{- "rootfs" | nindent 2 }}{{ template "pod_volume_inline_stats" . }}
                {{- else }}
                    {{- "rootfs:" | nindent 2 }} {{ .usedBytes | float64 | humanizeSI "B" }}{{ with .inodesUsed }}, inodes: {{ . | float64 | humanizeSI "" }}{{ end }}
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- if .includeAllVolumes }}
        {{- with .containerSpec.volumeMounts }}
            {{- "Volume Mounts:" | nindent 2 }}
            {{- range . }}
                {{- .mountPath | bold | nindent 4 }} from {{ .name }}{{ if .readOnly }} (ro){{ end }}{{ with .subPath }}, subPath: {{ . }}{{ end }}
            {{- end }}
        {{- end }}
    {{- end }}
{{- end -}}

{{- define "container_state_summary" }}
    {{- /* Expects one of:
           * Pod.status.containerStatuses[name=container].state
           * Pod.status.containerStatuses[name=container].lastState
     https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#pod-and-container-status */ -}}
    {{- with .waiting }}
        {{- "Waiting" | red | bold }} {{ .reason | red | bold }}{{ with .message }}: {{ . | red | bold }}{{ end }}
    {{- end }}
    {{- with .running }}
        {{- "Running" | green }} {{ forOrSince }} {{ .startedAt | colorAgo }}
    {{- end }}
    {{- with .terminated }}
        {{- if .startedAt }}
            {{- $started := .startedAt | toDate "2006-01-02T15:04:05Z" -}}
            {{- $finished := .finishedAt | toDate "2006-01-02T15:04:05Z" -}}
            {{- $ranfor := $finished.Sub $started -}}
            Started {{ .startedAt | colorAgo }}{{ agoSuffix }} and {{ if .reason }}{{ .reason | colorKeyword }}{{ else }}terminated{{ end }} after {{ $ranfor | colorDuration }}
            {{- if .exitCode }} with {{ "exit code" | redIf (ne (.exitCode | toString) "0") }} {{ template "exit_code_summary" . }}{{ end }}
        {{- else -}}
            {{ "Terminated" | red }}
            {{- with .reason }} as {{ . | bold }}{{end}}
            {{- with .message }} with {{ . | quote }}{{end}}
            {{- " " }}{{ template "exit_code_summary" . }}
        {{- end }}
    {{- end }}
{{- end -}}

{{- define "probe_summary" }}
    {{- /* Displays probe action type and timing parameters. Expects a probe object. */ -}}
    {{- with .exec }}{{ "exec" | bold }} {{ .command | join " " | cyan }}{{ end -}}
    {{- with .httpGet }}{{ "httpGet" | bold }} {{ printf "%s://%s:%v%s" (.scheme | default "HTTP") (.host | default "localhost") .port .path | cyan }}{{ end -}}
    {{- with .tcpSocket }}{{ "tcpSocket" | bold }} {{ printf "%s:%v" (.host | default "localhost") .port | cyan }}{{ end -}}
    {{- with .grpc }}{{ "grpc" | bold }} {{ printf ":%v" .port | cyan }}{{ with .service }} {{ . | cyan }}{{ end }}{{ end -}}
    {{- $parts := list -}}
    {{- with .initialDelaySeconds }}{{ $parts = append $parts (printf "delay %ds" (. | int)) }}{{ end -}}
    {{- with .periodSeconds }}{{ $parts = append $parts (printf "every %ds" (. | int)) }}{{ end -}}
    {{- with .timeoutSeconds }}{{ $parts = append $parts (printf "timeout %ds" (. | int)) }}{{ end -}}
    {{- with .failureThreshold }}{{ $parts = append $parts (printf "fail after %dx" (. | int)) }}{{ end -}}
    {{- if $parts }} ({{ join ", " $parts }}){{ end -}}
{{- end -}}

{{- define "lifecycle_hook_summary" }}
    {{- /* Displays a lifecycle hook action. Expects a LifecycleHandler object. */ -}}
    {{- with .exec }}{{ "exec" | bold }} {{ .command | join " " | cyan }}{{ end -}}
    {{- with .httpGet }}{{ "httpGet" | bold }} {{ printf "%s://%s:%v%s" (.scheme | default "HTTP") (.host | default "localhost") .port .path | cyan }}{{ end -}}
    {{- with .tcpSocket }}{{ "tcpSocket" | bold }} {{ printf "%s:%v" (.host | default "localhost") .port | cyan }}{{ end -}}
    {{- with .sleep }}{{ "sleep" | bold }} {{ printf "%vs" .seconds | cyan }}{{ end -}}
{{- end -}}

{{- define "pod_ephemeral_containers" }}
    {{- /* Expects a dict "pod" (Pod RenderableObject) "podPullSecretsBroken" (bool) */ -}}
    {{- $pod := .pod }}
    {{- with $pod.Status.ephemeralContainerStatuses }}
        {{- "Debug containers:" | nindent 2 }}
        {{- range $containerStatus := . }}
            {{- $containerSpec := $pod.Spec.ephemeralContainers | getMatchingItemInMapList (dict "name" $containerStatus.name) }}
            {{- $pod.Include "container_status_summary" (dict "pod" $pod "containerStatus" $containerStatus "containerSpec" $containerSpec "podImagePullSecrets" $pod.Spec.imagePullSecrets "podPullSecretsBroken" $.podPullSecretsBroken) | nindent 4 }}
            {{- with $containerSpec.targetContainerName }}
                {{- "targeting:" | bold | nindent 6 }} {{ . | cyan }}
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}

{{- define "exit_code_summary" }}
    {{- "exit with" }} {{ .exitCode | toString | redBoldIf (ne (.exitCode | toString) "0" ) }}
    {{- with .signal }} (signal: {{ . }}){{ end }}
    {{- if and (gt (.exitCode | int) 128) (le (.exitCode | int) 165) }} ({{ sub (.exitCode | int) 128 | int64 | signalName }}){{ end }}
{{- end -}}
