{{- define "ResourceQuota" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- template "status_summary_line" . }}
    {{- $hard := .Status.hard }}
    {{- range $key, $value := .Status.used }}
        {{- $key | nindent 2 }}: {{ $value }}/{{ index $hard $key }}
    {{- end }}
    {{- template "application_details" . }}
    {{- template "recent_updates" . }}
    {{- template "events" . }}
    {{- template "owners" . }}
{{- end -}}