{{- define "Secret" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- /* GVK: v1, Kind=Secret */ -}}
    {{- /* kstatus_summary omitted: Secret is always reported "Resource is always ready" by kstatus, same as CronJob. */ -}}
    {{- template "status_summary_line" . }}
    {{- template "finalizer_details_on_termination" . }}
    {{- template "observed_generation_summary" . }}
    {{- template "application_details" . }}
    {{- if eq .Object.type "kubernetes.io/tls" }}
        {{- $cert := parseTLSSecretCertificate . "" }}
        {{- if or (not $cert.Exists) $cert.WrongType $cert.MissingKeys $cert.ParseError }}
            {{- if not $cert.Exists }}
                {{- "Secret has no data" | red | bold | nindent 2 }}
            {{- end }}
            {{- if $cert.WrongType }}
                {{- "Unexpected type" | red | bold | nindent 2 }}: expected {{ "kubernetes.io/tls" | cyan }}, got {{ $cert.ActualType | red }}
            {{- end }}
            {{- with $cert.MissingKeys }}
                {{- "Missing keys" | red | bold | nindent 2 }}: {{ join ", " . | red }}
            {{- end }}
            {{- with $cert.ParseError }}
                {{- "Certificate parse error" | red | bold | nindent 2 }}: {{ . | red }}
            {{- end }}
        {{- else }}
            {{- "Certificate for" | nindent 2 }} {{ $cert.Subject | cyan }}
            {{- with $cert.Issuer }} · issued by {{ . | cyan }}{{ end }}
            {{- with $cert.AltDNSNames }}
                {{- "Also valid for" | bold | nindent 4 }}: {{ join ", " . | cyan }}
            {{- end }}
            {{- with $cert.IPAddresses }}
                {{- "IPs" | bold | nindent 4 }}: {{ join ", " . | cyan }}
            {{- end }}
            {{- if $cert.SelfSigned }}
                {{- "Self-signed" | yellow | bold | nindent 4 }}: issuer and subject match, not issued by a separate CA
            {{- end }}
            {{- "Valid" | bold | nindent 4 }} {{ $cert.NotBefore.UTC.Format "2006-01-02T15:04:05Z" | colorAgo }}{{ agoSuffix }}, expires {{ $cert.NotAfter.Format "2006-01-02" | cyan }}
            {{- "Key" | bold | nindent 4 }}: {{ $cert.KeyAlgorithm | cyan }}
            {{- with $cert.SerialNumber }} · serial {{ . | cyan }}{{ end }}
        {{- end }}
    {{- end }}
    {{- template "conditions_summary" . }}
    {{- template "recent_updates" . }}
    {{- template "events" . }}
    {{- template "owners" . }}
{{- end }}
