{{- define "Service" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- template "status_summary_line" . }}
    {{- template "finalizer_details_on_termination" . }}
    {{- if eq .Spec.clusterIP "None" }} {{ "Headless" | yellow | bold }}{{- end }}
    {{- if eq .Spec.type "LoadBalancer" }}
        {{- template "load_balancer_ingress" . }}
    {{- end }}
    {{- if eq .Spec.type "NodePort" }}
        {{- " " }}{{ "NodePort" | yellow | bold }}:
        {{- range $index, $port := .Spec.ports }}
            {{- if $index }}, {{ end }}{{ with $port.nodePort }}{{ . | toString | cyan }}{{ else }}{{ "auto" | yellow }}{{ end }}{{ with $port.name }} ({{ . }}){{ end }}
        {{- end }}
    {{- end }}
    {{- $slices := .KubeGetEndpointSlicesForService .Namespace .Name }}
    {{- if $slices }}
        {{- if hasKey (index $slices 0).Annotations "endpoints.kubernetes.io/last-change-trigger-time" -}}
            , last endpoint change was {{ index (index $slices 0).Annotations "endpoints.kubernetes.io/last-change-trigger-time" | colorAgo }}{{ agoSuffix }}
        {{- end}}
    {{- end}}
    {{- template "kstatus_summary" . }}
    {{- template "application_details" . }}
    {{- $hasAnyEndpoints := false }}
    {{- $hasReadyEndpoints := false }}
    {{- range $slices }}
        {{- range (.Object.endpoints | default list) }}
            {{- $hasAnyEndpoints = true }}
            {{- if or (not (hasKey (.conditions | default dict) "ready")) .conditions.ready }}{{- $hasReadyEndpoints = true }}{{- end }}
        {{- end }}
    {{- end }}
    {{- if not $slices }}
  {{ "Missing Endpoint" | red | bold }}: Service has no matching endpoint.
    {{- else if not $hasAnyEndpoints }}
  {{ "No matching pods" | red | bold }}: Service selector either doesn't match any Pods or the Service's targetPort doesn't match the Pod's port.
    {{- else }}
        {{- range $slices }}
            {{- $ports := .Object.ports }}
            {{- range (.Object.endpoints | default list) }}
                {{- if or (not (hasKey (.conditions | default dict) "ready")) .conditions.ready }}
  Ready: {{ template "endpoint_slice_endpoint" (dict "endpoint" . "ports" $ports) }}
                {{- end }}
            {{- end }}
        {{- end }}
        {{- if not $hasReadyEndpoints }}
  {{ "Outage" | red | bold }}: This service doesn't match any Ready pods.
        {{- end }}
        {{- range $slices }}
            {{- $ports := .Object.ports }}
            {{- range (.Object.endpoints | default list) }}
                {{- if and (hasKey (.conditions | default dict) "ready") (not .conditions.ready) }}
  {{ "NotReady" | red | bold }}: {{ template "endpoint_slice_endpoint" (dict "endpoint" . "ports" $ports) }}
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- template "recent_updates" . }}
    {{- template "matching_ingresses" . }}
    {{- template "matching_routes" . }}
    {{- template "events" . }}
    {{- template "owners" . }}
{{- end -}}

{{- define "matching_ingresses" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- if .Config.GetBool "include-matching-ingresses" }}
        {{- range $index, $ing := .KubeGetIngressesMatchingService .Namespace .Name }}
            {{- if eq $index 0 }}
                {{- "Ingresses matching this Service:" | nindent 2}}
            {{- end }}
            {{- if $.Config.GetBool "deep" }}
                {{- $.IncludeRenderableObject $ing | nindent 4 }}
            {{- else }}
                {{- $.Include "ingress_health_summary" $ing | nindent 4 }}
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}

{{- define "matching_routes" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- if .Config.GetBool "include-matching-routes" }}
        {{- range $index, $route := .KubeGetRoutesMatchingService .Namespace .Name }}
            {{- if eq $index 0 }}
                {{- "Routes matching this Service:" | nindent 2}}
            {{- end }}
            {{- if $.Config.GetBool "deep" }}
                {{- $.IncludeRenderableObject $route | nindent 4 }}
            {{- else }}
                {{- $.Include "route_health_summary" $route | nindent 4 }}
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}

{{- define "endpoint_slice_endpoint" }}
    {{- /* Expects:
           * endpoint: EndpointSlice.endpoints[N]
           * ports: EndpointSlice.ports
        */ -}}
    {{- $ip := (index .endpoint.addresses 0) | ip }}
    {{- $hasTargetRef := not (not .endpoint.targetRef) }}
    {{- if .endpoint.targetRef }}
        {{- .endpoint.targetRef.kind | bold }}/{{ .endpoint.targetRef.name }}
        {{- with .endpoint.targetRef.namespace }} -n {{ . }}{{ end }}
        {{- with .endpoint.nodeName }} on {{ "Node" | bold }}/{{ . }}{{ end }}
    {{- end }}
    {{- range $index, $port := .ports }}
        {{- if $hasTargetRef }}, {{ else }}{{if $index}}, {{end}}{{ end }}
        {{- $ip }}:{{ $port.port }}/{{ $port.protocol }}{{ with $port.name }} ({{ . }}){{ end }}
    {{- end }}
{{- end -}}