{{- define "UDPRoute" }}
    {{- /*gotype: github.com/bergerx/kubectl-status/pkg/plugin.RenderableObject*/ -}}
    {{- /* GVK: gateway.networking.k8s.io/v1alpha2, Kind=UDPRoute */ -}}
    {{- template "status_summary_line" . }}
    {{- template "kstatus_summary" . }}
    {{- template "finalizer_details_on_termination" . }}
    {{- template "observed_generation_summary" . }}
    {{- template "application_details" . }}
    {{- with .Spec.parentRefs }}
        {{- "Parents" | bold | nindent 2 }}:
        {{- range . }}
            {{- if $.Config.GetBool "deep" }}
                {{- $ns := coalesce .namespace $.Namespace }}
                {{- $obj := $.KubeGetFirst $ns (.kind | default "Gateway") .name }}
                {{- if $obj.Object }}{{ $.IncludeRenderableObject $obj | nindent 4 }}{{ end }}
            {{- else }}
                {{- printf "%s/%s" (.kind | default "Gateway") .name | cyan | nindent 4 }}
                {{- with .sectionName }} [{{ . | cyan }}]{{ end }}
                {{- with .namespace }} -n {{ . }}{{ end }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- with .Spec.rules }}
        {{- "Rules" | bold | nindent 2 }}:
        {{- range . }}
            {{- range .backendRefs }}
                {{- printf "→ %s/%s" (.kind | default "Service") .name | cyan | nindent 4 }}
                {{- with .port }}:{{ . }}{{ end }}
                {{- with .namespace }} -n {{ . }}{{ end }}
                {{- if and .weight (ne (.weight | int) 1) }}, weight:{{ .weight }}{{ end }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- with .Status.parents }}
        {{- "Status" | bold | nindent 2 }}:
        {{- range . }}
            {{- printf "%s/%s" (.parentRef.kind | default "Gateway") .parentRef.name | bold | nindent 4 }}
            {{- with .parentRef.sectionName }} [{{ . }}]{{ end }}
            {{- with .controllerName }} ({{ . }}){{ end }}
            {{- range .conditions }}
                {{- $.Include "condition_summary" . | nindent 6 }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- template "recent_updates" . }}
    {{- template "events" . }}
    {{- template "owners" . }}
{{- end -}}
